#Importação de bibliotecas e arquivos

In [ ]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsRegressor #regressor
#------------------------- IMPORTAÇÃO DE TABELAS ----------------------------
from google.colab import drive
drive.mount('/content/drive')
dataset = pd.read_csv('/content/drive/Shareddrives/hefEStos: arquivo X/DadosTratadosX_Label_encoding.csv')
dataset.head()

Mounted at /content/drive

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (31) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,Hora Início,Dia da Semana,Total Domicílios | Rat%,AB | Rat%,C1 | Rat%,C2 | Rat%,DE | Rat%,Masculino | Rat%,Feminino | Rat%,...,Categoria_41,Categoria_42,Categoria_5,Categoria_6,Categoria_7,Categoria_8,Categoria_9,Dia,Mes,Ano
0,0,6.000000,5,1.09,0.0,1.52,0.0,0.0,0.3,0.4,...,0,0,0,0,0,0,0,1,1,2015
1,1,6.083333,5,1.09,0.0,1.52,0.0,0.0,0.3,0.4,...,0,0,0,0,0,0,0,1,1,2015
2,2,6.166667,5,1.09,0.0,1.52,0.0,0.0,0.3,0.4,...,0,0,0,0,0,0,0,1,1,2015
3,3,6.250000,5,1.09,0.0,1.52,0.0,0.0,0.3,0.4,...,0,0,0,0,0,0,0,1,1,2015
4,4,6.333333,5,1.09,0.0,1.52,0.0,0.0,0.3,0.4,...,0,0,0,0,0,0,0,1,1,2015

## Separação de input e output

In [ ]:
dataset = dataset.drop('Total Indivíduos | Rch%', axis = 1)
dataset = dataset.drop('AB | Rch%', axis = 1)
dataset = dataset.drop('C1 | Rch%', axis = 1)
dataset = dataset.drop('C2 | Rch%', axis = 1)
dataset = dataset.drop('DE | Rch%', axis = 1)
dataset = dataset.drop('Masculino | Rch%', axis = 1)
dataset = dataset.drop('Feminino | Rch%', axis = 1)
dataset = dataset.drop('4-11 anos | Rch%', axis = 1)
dataset = dataset.drop('12-17 anos | Rch%', axis = 1)
dataset = dataset.drop('18-24 anos | Rch%', axis = 1)
dataset = dataset.drop('25-34 anos | Rch%', axis = 1)
dataset = dataset.drop('35-49 anos | Rch%', axis = 1)
dataset = dataset.drop('50-59 anos | Rch%', axis = 1)
dataset = dataset.drop('60+ anos | Rch%', axis = 1)
dataset = dataset.drop('Total Domicílios | Shr%', axis = 1)
dataset = dataset.drop('AB | Shr%', axis = 1)
dataset = dataset.drop('C1 | Shr%', axis = 1)
dataset = dataset.drop('C2 | Shr%', axis = 1)
dataset = dataset.drop('DE | Shr%', axis = 1)
dataset = dataset.drop('Masculino | Shr%', axis = 1)
dataset = dataset.drop('Feminino | Shr%', axis = 1)
dataset = dataset.drop('4-11 anos | Shr%', axis = 1)
dataset = dataset.drop('12-17 anos | Shr%', axis = 1)
dataset = dataset.drop('18-24 anos | Shr%', axis = 1)
dataset = dataset.drop('25-34 anos | Shr%', axis = 1)
dataset = dataset.drop('35-49 anos | Shr%', axis = 1)
dataset = dataset.drop('50-59 anos | Shr%', axis = 1)
dataset = dataset.drop('60+ anos | Shr%', axis = 1)
dataset = dataset.drop('Unnamed: 0', axis = 1)
dataset.columns

Index(['Hora Início', 'Dia da Semana', 'Total Domicílios | Rat%', 'AB | Rat%',
       'C1 | Rat%', 'C2 | Rat%', 'DE | Rat%', 'Masculino | Rat%',
       'Feminino | Rat%', '4-11 anos | Rat%', '12-17 anos | Rat%',
       '18-24 anos | Rat%', '25-34 anos | Rat%', '35-49 anos | Rat%',
       '50-59 anos | Rat%', '60+ anos | Rat%', 'Feriado', 'Categoria_37',
       'Categoria_38', 'Categoria_1', 'Categoria_10', 'Categoria_11',
       'Categoria_12', 'Categoria_13', 'Categoria_14', 'Categoria_15',
       'Categoria_16', 'Categoria_17', 'Categoria_18', 'Categoria_19',
       'Categoria_2', 'Categoria_20', 'Categoria_21', 'Categoria_22',
       'Categoria_23', 'Categoria_24', 'Categoria_25', 'Categoria_26',
       'Categoria_27', 'Categoria_28', 'Categoria_29', 'Categoria_3',
       'Categoria_30', 'Categoria_31', 'Categoria_32', 'Categoria_33',
       'Categoria_34', 'Categoria_35', 'Categoria_36', 'Categoria_39',
       'Categoria_4', 'Categoria_40', 'Categoria_41', 'Categoria_42',
       'Categoria_5', 'Categoria_6', 'Categoria_7', 'Categoria_8',
       'Categoria_9', 'Dia', 'Mes', 'Ano'],
      dtype='object')

In [ ]:
dataset_train = dataset
y = dataset_train['Total Domicílios | Rat%']
#remoção do output desejado
dataset_train.drop(['Total Domicílios | Rat%'], axis=1, inplace=True)
dataset_train.drop(['Masculino | Rat%'], axis=1, inplace=True)
dataset_train.drop(['Feminino | Rat%'], axis=1, inplace=True)
dataset_train.drop(['AB | Rat%'], axis=1, inplace=True)
dataset_train.drop(['C1 | Rat%'], axis=1, inplace=True)
dataset_train.drop(['C2 | Rat%'], axis=1, inplace=True)
dataset_train.drop(['DE | Rat%'], axis=1, inplace=True)
dataset_train.drop(['4-11 anos | Rat%'], axis=1, inplace=True)
dataset_train.drop(['12-17 anos | Rat%'], axis=1, inplace=True)
dataset_train.drop(['18-24 anos | Rat%'], axis=1, inplace=True)
dataset_train.drop(['25-34 anos | Rat%'], axis=1, inplace=True)
dataset_train.drop(['35-49 anos | Rat%'], axis=1, inplace=True)
dataset_train.drop(['50-59 anos | Rat%'], axis=1, inplace=True)
dataset_train.drop(['60+ anos | Rat%'], axis=1, inplace=True)
dataset_train.columns

Index(['Hora Início', 'Dia da Semana', 'Feriado', 'Categoria_37',
       'Categoria_38', 'Categoria_1', 'Categoria_10', 'Categoria_11',
       'Categoria_12', 'Categoria_13', 'Categoria_14', 'Categoria_15',
       'Categoria_16', 'Categoria_17', 'Categoria_18', 'Categoria_19',
       'Categoria_2', 'Categoria_20', 'Categoria_21', 'Categoria_22',
       'Categoria_23', 'Categoria_24', 'Categoria_25', 'Categoria_26',
       'Categoria_27', 'Categoria_28', 'Categoria_29', 'Categoria_3',
       'Categoria_30', 'Categoria_31', 'Categoria_32', 'Categoria_33',
       'Categoria_34', 'Categoria_35', 'Categoria_36', 'Categoria_39',
       'Categoria_4', 'Categoria_40', 'Categoria_41', 'Categoria_42',
       'Categoria_5', 'Categoria_6', 'Categoria_7', 'Categoria_8',
       'Categoria_9', 'Dia', 'Mes', 'Ano'],
      dtype='object')

## Treino e teste do modelo

In [ ]:
#Definição de input
X_train = dataset_train
#Definição de teste
X_train, X_test, y_train, y_test = train_test_split(dataset_train, y, test_size=0.15, random_state=1000)

In [ ]:
# realizando predições com o conjunto de teste
y_pred = knn.predict(X_test)
y_pred

array([ 7.335,  2.23 , 21.585, ..., 20.635, 23.33 , 11.375])

##Avaliação do modelo

In [ ]:
# Instanciação do obj Algoritmo
knn = KNeighborsRegressor(n_neighbors=2)
# Treino # x = Features, y = Label/Target
knn.fit(X_train, y_train) #squeeze() -> df para series
# Teste de Acuracidade (accuracy)
print('Acuracidade (treino): ', knn.score( X_train, y_train ))
print('Acuracidade (teste): ', knn.score( X_test, y_test ))

Acuracidade (treino):  0.9969375242569384
Acuracidade (teste):  0.9902378045386647

In [ ]:
#erro médio quadrático
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

0.6169782726873067

In [ ]:
#erro médio absoluto
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

0.5008525388478381